# Binaries

asm/*_hello_world
c/tiny_hello_world
cpp/tiny_hello_world
go/tiny_hello_world
java/tinyHelloWorld.class
java/tinyHelloWorld
rust/tiny_hello_world
zig/tiny_hello_world

# Deploy
deploy/data_*.yml
